.sectiontwo{
    width: 100%;
    margin-top: 15vh;
    height: 90vh;
    background-color: rgb(241, 241, 241);
}
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;700&display=swap');

:root{
    --mainColor: #ffffff;
    --mainColorLight: #5767aa;
    --secondaryColor: #Db2B39;
    --textColor: rgb(0, 0, 0);
}

.textSectiontwo{
    width: 45%;
    margin-top: 30vh;
    margin-left: 2%;
    float: left;

}
.icon2{
    float: left;
    width: 20%;
    margin-left: 15%;
    margin-top: 35vh;
}
img{
    width: 200px;
}
@media (max-width: 1200px){
    .icon2{
        display: none;

    }
    .textSectiontwo{
        width: 65%;
        margin-left: 20%;
      
    
    }
}
@media (max-width: 800px){
    
    .textSectiontwo{
        width: 65%;
        margin-left: 20%;
    
    }
    .sectiontwo{
        height: 900px;
    }
}
