.home{
    height: 100vh;
    background-image: url("../../images/AdobeStock_422367143.png");
    background-position: right; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 1200px; /* Resize the background image to cover the entire container */
    animation: fadeIn 3s;
    z-index: 5;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.title{
    margin-top: 30vh;
    width: 300px;
}
.butoondh:hover{
    background-color: #149975;
    border: #149975;

}
.butoondh:focus{
    background-color: #149975;
    border: #149975;

}
.introtext{
    margin-top: 30px;
}
.div-text-img{
    margin-left: -1000px;
    width: 400px;
    animation: moveRight 2s linear forwards;
    height: 200px;
}
@keyframes moveRight{
    100%{transform: translateX(275%);}
}

@media (max-width: 500px){
    .title{
        width: 250px;
        margin-top: 100px;
    }
    @keyframes moveRight{
        100%{transform: translateX(265%);}
    }
    .home{
        background-size: 500px;
    }
    
}
@media (max-width: 1000px){
    .home{
        background-size: 800px;
        margin-top: 10vh;
    }
    .title{
        margin-top: -8vh;
    }
    .div-text-img{
        
    }
}
.streep{
    width: 46%;
    height: 6px;
    background-color: #d3e2f9;
    margin-top: 48.8vh;
    position: absolute;
    z-index: 0;
}