.sectionthree{
    height: 80vh;
    background-color: rgb(241, 241, 241);
}

.seconddiv-sectionthree{
    height: 80vh;
    background-color: #172e47;
    opacity: 1;
}
.service{
    height: 400px;
    width: 80%;
    /* border: 1px solid black; */
    margin-left: auto;
    margin-right: auto;
}

.serviceblok{
    float: left;
    height: 400px;
    width: 25%;
    /* border: 1px solid black; */
    margin-left: 6%;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(241, 241, 241);
    margin-top: 10vh;
}
.serviceblok:hover{
    background-color: rgb(255, 255, 255);
    height: 410px;
    width: 26%;
    margin-top: 95px;
}
.iconafbeelding{
    border-radius: 50%;
    /* border: 1px solid black; */
    height: 80px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px
}
.tekst-service {
    width: 80%;
    margin-left: 10%;
}
@media (max-width: 1300px){
    .serviceblok{
        float: left;
        height: 400px;
        width: 40%;
        /* border: 1px solid black; */
        margin-left: 6%;
    }
    .sectionthree{
        height: 1100px;
        background-color: #172e47;
    
    }
}
@media (max-width: 900px){
    .serviceblok{
        float: left;
        height: 400px;
        width: 60%;
        /* border: 1px solid black; */
        margin-left: 20%;
    }
    .sectionthree{
        height: 1700px;
        background-color: #172e47;
    
    }
}
.space{
    height: 15vh;
}
.afbeelding-icons{
    width: 80px;
}
.popup{
    position:absolute;
    top:220vh;
    left:12%;
    margin:100px auto;
    width:75%;
    height:450px;
    font-family:verdana;
    font-size:13px;
    padding:10px;
    background-color:rgb(255, 255, 255);
    /* border:2px solid #172e47; */
    z-index:100000000000000000;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    }
    
.cancel{
    display:relative;
    cursor:pointer;
    margin:0;
    top: 0;
    float:right;
    height:30px;
    width:30px;
    padding:0 0 5px 0;
    background-color:rgb(255, 255, 255);
    text-align:center;
    font-weight:bold;
    font-size:20px;
    color:#172e47;
    border-radius:3px;
    z-index:100000000000000000;
    }

.cancel:hover{
    background:#172e47;
    }
#text-span1{
    width: 70%;
    margin-left: 15%;
    margin-top: 20vh;
}