@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

:root{
    --mainColor: #ffffff;
    --mainColorLight: #149975;
    --secondaryColor: #149975;
    --textColor: rgb(0, 0, 0);
}
a h3{
    text-decoration: none;
    color: black;
    float: left;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
    position: fixed;
    width: 100%;
    animation: fadeIn 3s;
    z-index: 100;

}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

nav a{
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
}
nav a:hover{
    color:#149975;
}

header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
}



@media only screen and (max-width: 1000px){
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }
    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 80%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 0s;
        transform: translateY(-100vh);
        grid-gap: 0.2rem;

    }

   
    header .responsive_nav{
        transform: none;

    }

}
.ennl-button{
    float: right;
}
nav{
    width: 90%;
    text-align: center;
}
.logoddd{
    width: 80px;
}